<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <base href="/"/>
    <link rel="shortcut icon" href="admin//favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="admin/css/font.css">
    <link rel="stylesheet" href="admin/css/xadmin.css">
    <script src="admin/js/jquery.min.js"></script>
</head>
<body>
<div class="x-body layui-anim layui-anim-up">

    <fieldset class="layui-elem-field">
        <legend>我的账户</legend>
        <div class="layui-field-box">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                            <div carousel-item="">
                                <ul class="layui-row layui-col-space10 layui-this">
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>账户余额</h3>
                                            <p>
                                                <cite class="my-balance">0</cite>元 </p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>支付宝账户</h3>
                                            <p>
                                                <cite ></cite><span class="my-account"></span></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>收款人</h3>
                                            <p>
                                                <cite class="deal-year"></cite><span class="my-application"></span></p>
                                        </a>
                                    </li>
                                    <!--<div style="margin-top: 48px">
                                        <a class="layui-btn  layui-btn-sm">提现</a>
                                    </div>-->
                                    <!--<li class="layui-col-xs2">
                                        <a class="btn btn-success">提现</a>
                                        &lt;!&ndash;<a href="javascript:;" class="x-admin-backlog-body">

                                            <h3>提现</h3>
                                            <p><cite class="deal-month"></cite></p>
                                        </a>&ndash;&gt;
                                    </li>-->
                                    <!--<li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>今日交易</h3>
                                            <p>
                                                <cite class="deal-day">0.0</cite>元</p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>商品数量</h3>
                                            <p>
                                                <cite class="product-total">0</cite></p>
                                        </a>
                                    </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <!-- <fieldset class="layui-elem-field">
         <legend>系统通知</legend>
         <div class="layui-field-box">
             <table class="layui-table" lay-skin="line">
                 <tbody>
                     <tr>
                         <td >
                             <a class="x-a"  >超级管理员拥有所有权限</a>
                         </td>
                     </tr>
                     <tr>
                         <td >
                             <a class="x-a"  >管理员仅有部分权限</a>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </fieldset>
     <fieldset class="layui-elem-field">

     </fieldset>-->
</div>
<script type="text/javascript">
    $.ajax({
        url:"/admin/account/get_my_account",
        type:"get",
        success:function (data) {
            $(".my-balance").text(data.data.balance)
            $(".my-account").text(data.data.account)
            $(".my-application").text(data.data.applicant)
        }
    })
</script>
</body>
</html>