<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base href="/"/>
    <!--<link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">-->
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="js/jquery-3.3.1.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="user" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-icon" id="add" lay-event="addamdin">&#xe654;添加</button>

    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!--<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<script src="layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script type="text/javascript" th:inline="none">

    layui.use(['table', 'element', 'layer', 'jquery', 'form'], function () {
        //var $ = layui.jquery
        var element = layui.element
        var layer = layui.layer
        var form = layui.form;
        var table = layui.table;
        var tableIns = table.render({
            elem: '#user'
            , url: 'admin/nav/get_nav'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , totalRow: true
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: '序号', width: "5%", fixed: 'left', unresize: true, sort: true, type: "numbers"}
                , {field: 'title', title: '名称', width: "15%"}
                , {field: 'url', title: '地址', width: "20%"}

                , {field: 'createTime', title: '创建时间', width: "15%", sort: true}
                , {field: 'updateTime', title: '更新时间', width: "15%", sort: true}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
            ]]

            /*,response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }*/
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据

                return {
                    "code": 0, //解析接口状态
                    "msg": "数据显示", //解析提示文本
                    "count": res.data.length, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });
        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {

                case 'addamdin':
                    layer.open({
                        type: 1,
                        title: "新增导航栏",
                        area: ['500px', '300px'],

                        content: " <form class=\"layui-form\" id='adduser' style='margin-top: 50px'>\n" +
                        "        <div class=\"layui-form-item\">\n" +
                        "            <label class=\"layui-form-label\">名称</label>\n" +
                        "            <div class=\"layui-input-block\">\n" +
                        "                <input type=\"text\" id='nav-title' name=\"title\" lay-verify=\"title\" style=\"width: 300px;\" autocomplete=\"off\"\n" +
                        "                       placeholder=\"\"\n" +
                        "                       class=\"layui-input\">\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "        <div class=\"layui-form-item\">\n" +
                        "            <label class=\"layui-form-label\">url</label>\n" +
                        "            <div class=\"layui-input-block\">\n" +
                        "                <input type=\"text\" id='nav-url' name=\"url\" lay-verify=\"url\" style=\"width: 300px;\" autocomplete=\"off\"\n" +
                        "                       placeholder=\"\"\n" +
                        "                       class=\"layui-input\">\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "    </form>"
                        ,btn: ['确定', '取消'],
                        yes: function (index, layero) {

                            $.ajax({
                                url:"/admin/nav/add_nav",
                                type:"post",
                                data:{
                                    "title":$("#nav-title").val(),
                                    "url":$("#nav-url").val()
                                },
                                success:function (data) {
                                    if(data.msg === "SUCCESS"){
                                        layer.msg(data.msg, {icon: 6});
                                        layer.close(index)
                                        tableIns.reload()
                                    }else {
                                        layer.msg(data.msg, {icon: 5});
                                    }

                                }

                            })
                        },
                        btn1: function (index, layero) {
                            layer.close(index)
                        },
                    });
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;

        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: "/admin/nav/delete_nav?id="+obj.data.id,
                        type: "get",
                        success: function (data) {
                            if (data.msg === "SUCCESS") {
                                layer.msg("删除成功", {icon: 6});
                                obj.del();
                                layer.close(index);
                            }else {
                                layer.msg("删除失败", {icon: 5});
                            }

                        }
                    })
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 1,
                    title: "修改导航栏",
                    area: ['500px', '300px'],

                    content: " <form class=\"layui-form\" id='adduser' style='margin-top: 50px'>\n" +
                    "        <div class=\"layui-form-item\">\n" +
                    "            <label class=\"layui-form-label\">名称</label>\n" +
                    "            <div class=\"layui-input-block\">\n" +
                    "                <input type=\"text\" id='new-title' value='"+obj.data.title+"' name=\"title\" lay-verify=\"title\" style=\"width: 300px;\" autocomplete=\"off\"\n" +
                    "                       placeholder=\"\"\n" +
                    "                       class=\"layui-input\">\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "        <div class=\"layui-form-item\">\n" +
                    "            <label class=\"layui-form-label\">url</label>\n" +
                    "            <div class=\"layui-input-block\">\n" +
                    "                <input type=\"text\" id='new-url' value='"+obj.data.url+"' name=\"url\" lay-verify=\"url\" style=\"width: 300px;\" autocomplete=\"off\"\n" +
                    "                       placeholder=\"\"\n" +
                    "                       class=\"layui-input\">\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "    </form>"
                    ,btn: ['确定', '取消'],
                    yes: function (index, layero) {

                        $.ajax({
                            url:"/admin/nav/update_nav",
                            type:"post",
                            data:{
                                "id":obj.data.id,
                                "title":$("#new-title").val(),
                                "url":$("#new-url").val()
                            },
                            success:function (data) {
                                if(data.msg === "SUCCESS"){
                                    layer.msg(data.msg, {icon: 6});
                                    layer.close(index)
                                    tableIns.reload()
                                }else {
                                    layer.msg(data.msg, {icon: 5});
                                }

                            }

                        })
                    },
                    btn1: function (index, layero) {
                        layer.close(index)
                    },
                });
            }
        });
    });
</script>

</body>
</html>