<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base href="/"/>
    <!--<link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">-->
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="js/jquery-3.3.1.js"></script>
    <style>
        img {
            width: 250px;
            height: 250px;
        }
    </style>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="user" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="user-search">

        <div class="layui-inline">
            <input class="layui-input" style="height: 33px" name="orderNo"  placeholder="输入订单号" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn search layui-btn-sm layui-btn-warm layui-icon" lay-event="search" data-type="reload">&#xe615;搜索</button>
    </div>
</script>
<!--<a class="layui-btn layui-btn-xs" lay-event="product_message">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="send">发货</a>
    <a class="layui-btn layui-btn-xs" lay-event="refund">退款</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="cancel">取消</a>-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="product_message">详情</a>

</script>
<div id="order-item" class="layui-table" style="display: none">
    <table>
        <thead id="order-th">
        <!--<tr>
            <td>序号</td>
            <td>订单编号</td>
            <td>图书名称</td>
            <td>作者</td>
            <td>编号</td>
            <td>出版社</td>
            <td>出版时间</td>
            <td>数量</td>
        </tr>-->
        </thead>
        <tbody id="order-td">

        </tbody>
    </table>
</div>

<div id="tt" style="display: none">

</div>

<!--<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<script src="layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script type="text/javascript" th:inline="none">

    layui.use(['table', 'element', 'layer', 'jquery', 'form', 'upload'], function () {
        //var $ = layui.jquery
        var element = layui.element
        var layer = layui.layer

        var form = layui.form;
        var table = layui.table;
        var upload = layui.upload
        var tableIns = table.render({
            elem: '#user'
            , url: '/admin/order/get_shop_order_all_list'
            ,limit:20
            , limits: [20, 30, 40, 50, 60, 70, 80, 90]
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '商品列表'
            , totalRow: true
            ,id:'orderTable'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: '序号', width: "3%", fixed: 'left', unresize: true, sort: true, type: "numbers"}
                // ,{field:"mainImage",title:"图片",width:"5%",templet:"<div><img style='width: 50px;height: 50px' src='/manage/file/file_download?path=/{{d.mainImage}}'/></div>"}
                , {field: 'orderNo', title: '订单号', width: "15%"}
                , {field: 'payId', title: '支付宝订单号', width: "15%"}
                , {field: 'receiving', title: '收货人信息', width: "30%"}
                , {field: 'productTotalPrice', title: '金额(元)', width: "5%"}
                , {field: 'orderStatus', title: '状态', width: "5%", sort: true}
                , {field: 'date', title: '下单时间', width: "10%", sort: true}
              /*  , {field: 'updateTime', title: '更新时间', width: "10%", sort: true}*/

                , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
            ]]
            , page: true
            /*,response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }*/
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据

                return {
                    "code": 0, //解析接口状态
                    "msg": "数据显示", //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            }
        });
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('orderTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {

                        orderNo: demoReload.val()

                    }
                }, 'data');
            }
        };
        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'search':
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;



        });


        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url:"/manage/product/delete_product?id="+obj.data.id,
                        type:"get",
                        success:function (data) {
                            if(data.msg === "SUCCESS"){
                                layer.msg(data.msg, {icon: 6});
                                tableIns.reload()
                            }else {
                                layer.msg(data.msg, {icon: 5});
                                tableIns.reload()
                            }
                        }
                    })
                });
            }if (obj.event === 'product_message') {
                $("#order-th").append("<tr>\n" +
                    "                <th style='width: 5%;'>序号</th>\n" +
                    "                <th style='width: 15%'>订单编号</th>\n" +
                    "                <th style='width: 20%'>图书名称</th>\n" +
                    "                <th style='width: 10%'>作者</th>\n" +
                    "                <th style='width: 10%'>编号</th>\n" +
                    "                <th style='width: 15%'>出版社</th>\n" +
                    "                <th style='width: 15%'>出版时间</th>\n" +
                    "                <th style='width: 5%'>价格(元)</th>\n" +
                    "                <th style='width: 5%'>数量</th>\n" +
                    "            </tr>")
                $.ajax({
                    url:"/admin/order/get_order_item?orderNo="+obj.data.orderNo,
                    type:"get",
                    success:function (data) {
                        $.each(data.data,function (i,o) {
                            $("#order-td").append("<tr>" +
                                "<td>"+(++i)+"</td>" +
                                "<td>"+o.orderNo+"</td>" +
                                "<td>"+o.productName+"</td>" +
                                "<td>"+o.authorName+"</td>" +
                                "<td>"+o.number+"</td>" +
                                "<td>"+o.publish+"</td>" +
                                "<td>"+o.publishDate+"</td>" +
                                "<td>"+o.totalPrice+"</td>" +
                                "<td>"+o.quantity+"</td></tr>")
                        })
                    }
                })
                layer.open({
                    type: 1,
                    title: "订单详情",
                    area: ['1400px', '500px'],
                    maxmin: true,
                    scrollbar:true,
                    closeBtn :0,
                    /*content: "/product_details?id="+obj.data.id*/
                    content:$("#order-item"), btn: [ '关闭'],
                    yes: function (index, layero) {
                        layer.close(index)
                        $("#order-th").children().remove()
                        $("#order-td").children().remove()

                    }

                });
            }
        });
        tableIns.reload()
    });

</script>

</body>
</html>