<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.store.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.book.store.entity.Product">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="merchant_id" jdbcType="VARCHAR" property="merchantId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle"/>
        <result column="price" jdbcType="REAL" property="price"/>
        <result column="sale_number" jdbcType="INTEGER" property="saleNumber"/>
        <result column="comment_start" jdbcType="INTEGER" property="commentStart"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="category_child_id" jdbcType="INTEGER" property="categoryChildId"/>

        <result column="author_name" jdbcType="VARCHAR" property="authorName"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="publish" jdbcType="VARCHAR" property="publish"/>
        <result column="publish_time" jdbcType="VARCHAR" property="publishTime"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>

        <result column="main_image" jdbcType="VARCHAR" property="mainImage"/>
        <result column="images" jdbcType="VARCHAR" property="images"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <result column="sub_title" jdbcType="VARCHAR" property="subtitle"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,merchant_id, author_name, category_id,category_child_id,number, name,
      price, detail, stock,publish, publish_time,subtitle,
       main_image, images, status, comment, comment_start,create_time,update_time
    </sql>
    <insert id="insert">
       INSERT INTO product(merchant_id, author_name, category_id,category_child_id,number, name,
      price, detail, subtitle, stock,publish, publish_time,
       main_image, images, status,create_time)
       VALUES (#{merchantId},#{authorName},#{categoryId},#{categoryChildId},#{number},#{name},
       #{price},#{detail},#{subtitle},#{stock},#{publish},#{publishTime},
       #{mainImage},#{images},#{status},now())

  </insert>
    <insert id="insertSelective"></insert>
    <update id="setComment"></update>
    <update id="updateByPrimaryKeySelective"></update>
    <update id="updateByPrimaryKey"></update>
    <delete id="deleteByPrimaryKey">
        DELETE FROM product WHERE id = #{id}
    </delete>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM product WHERE id = #{id}
    </select>
    <select id="selectList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM product
    </select>
    <select id="selectListOrderByRecommend" resultType="com.book.store.entity.Product"></select>
    <select id="selectByNameAndProductId" resultType="com.book.store.entity.Product"></select>
    <select id="selectProductByCategoryId" resultType="com.book.store.entity.Product"></select>
    <select id="selectProductByRecommend" resultType="com.book.store.entity.Product"></select>
    <select id="checkProductCount" resultType="java.lang.Integer">
        SELECT count(1) FROM product WHERE id = #{id}
    </select>
    <select id="selectProductByMerchantId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product WHERE merchant_id = #{merchantId}
    </select>
    <select id="selectListByMerchantId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product WHERE merchant_id = #{merchantId}
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product WHERE id = #{id}
    </select>
    <select id="selectListBySearch" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product WHERE name LIKE '%${name}%' or author_name LIKE '%${name}%'
    </select>
    <select id="selectByCategory" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product WHERE category_child_id = #{categoryChildId} order by create_time desc
    </select>
    <select id="selectListByMerchantIdAndSearch" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product WHERE merchant_id = #{merchantId} and name LIKE '%${name}%' or merchant_id = #{merchantId} and author_name LIKE '%${name}%'
    </select>


</mapper>